<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".presentation.help.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.games.GameActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.games.quiz.QuizActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.games.face_match.FaceMatchActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.type.TypeActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.detail.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.scan.ScanActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.about.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="false" />
    </application>

</manifest>